:root {
  --primary: #0091ff;
  --dark: #292f4c;
  --gray: #756388;
  --light: #ffffff;
}

.email-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-message p {
  color: white;
}

.email-message p a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.overlay {
  z-index: 9;
}
/* ------------------- Side Navbar Container -------------------------*/

.side-nav-container {
  background-color: var(--dark);
  width: 350px;
  height: 100vh;
  position: relative;
  color: var(--light);
  transition: 0.4s;
}
.side-nav-container-NX {
  width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-brand {
  display: flex;
  color: var(--light);
}

/* --------------------- CSS for Logo -------------------- */

.logo-icon-back {
  position: relative;
  left: 20px;
  width: 220px;
  bottom: 37px;
}

/* -------------------------- CSS for Hamburger ---------------- */
.hamburger {
  position: relative;
  bottom: 3px;
  background-color: red;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: var(--light);
  border-radius: 15px;
  height: 5px;
  width: 35px;
  transition: 0.4s;
}

.hamburger:hover span {
  background-color: var(--primary);
}

/* -------------------------- CSS for Hamburger Functionality ---------------- */

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
  width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translateY(-4px) rotate(25deg);
}

.hamburger-out {
  margin-left: 24px;
  margin-top: 55px;
}
.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger-out:hover span:nth-child(2) {
  width: 40px;
}
.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(14px, -4px) rotate(155deg);
}

.hamburger-in {
  margin-top: 60px;
}

/* -------------------------- CSS for Side Navbar Menu - In Out Section ---------------- */
.nav-menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 50px;
}

.menu-item {
  height: 57px;
  display: flex;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
}

.menu-item-NX {
  margin: auto;
}
.menu-item:hover {
  background-color: var(--primary);
}
.menu-item img {
  width: 25px;
  padding: 0 20px;
}

.menu-item:hover > .tooltip {
  display: block;
}

/* -------------------------- CSS On Hover Caption for Menu-In ---------------- */

.tooltip {
  display: none;
  position: absolute;
  left: 99%;
  width: auto;
  padding: 5px 9px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid var(--light);
  background-color: var(--dark);
  font-size: 14px;
  letter-spacing: 1.2px;
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------- CSS for Side Navbar Footer ---------------- */

.nav-footer {
  width: 100%;
  height: 87px;
  position: absolute;
  bottom: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.nav-details {
  display: flex;
}
.nav-details img {
  width: 50px;
  padding: 0 20px;
}

.nav-footer-user-name {
  font-size: 18px;
  font-weight: 900;
}

.nav-footer-user-position {
  margin-top: -15px;
  color: var(--gray);
}
.logout-icon {
  width: 30px;
  margin: auto;
  border-radius: 90px;
  padding: 20px;
  margin-left: 5px;
}
.logout-icon:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 1024px) {
  .email-message {
    font-size: 8px;
    text-align: center;
  }
}

/* -------------- Media Queries for Small Devices-------- */

@media screen and (max-width: 600px) {
  .email-message {
    font-size: 10px;
    text-align: center;
  }
  .email-message p {
    position: relative;
    left: 3rem;
    text-align: center;
  }
}
